body {
	margin: 0px;
	margin-top: 0px;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
}

h1 {
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	font-family: helvetica;
	margin-left: calc(50% - 100px);
}
